$white      : #fff;
$black      : #000;
$dark       : #33393F;

$gray       : (#33393F,#e3e6e8,#c6ccd2,#aab3bb,#8e99a4,#71808e,#5b6671,#444d55,#2d3339,#171a1c);
$blue       : (#1167bd,#d0e6fb,#a2ccf6,#73b3f2,#4499ee,#1680e9,#1167bd,#0d4d8c,#09335d,#041a2f);
$yellow     : (#ffc72c,#fff1cc,#ffe499,#ffd666,#ffc933,#ffbb00,#cc9600,#997000,#664b00,#332500);
$danger     : (#e63d3d,#f9d2d2,#f3a5a5,#ed7878,#e84a4a,#e21d1d,#b51717,#871212,#5a0c0c,#2d0606);
$success    : (#009944,#ccffe3,#99ffc7,#66ffab,#33ff8f,#00ff73,#00cc5c,#009944,#00662e,#003317);
$purple     : (#6A4EFF,#d4ccff,#a899ff,#7d66ff,#5233ff,#2600ff,#1f00cc,#170099,#0f0066,#080033);
$colorVar   : ($gray,$blue,$yellow,$danger,$success,$purple);
$colorName  : ("gray","blue","yellow","danger","success","purple");

@mixin tblr ($name,$css,$val,$unit){
    .#{$name}t#{$val}  { #{$css}-top:#{$val}#{$unit} !important; }
    .#{$name}b#{$val}  { #{$css}-bottom:#{$val}#{$unit} !important; }
    .#{$name}l#{$val}  { #{$css}-left:#{$val}#{$unit} !important; }
    .#{$name}r#{$val}  { #{$css}-right:#{$val}#{$unit} !important; }
}

body,html,ol,ul,li,a,img {
    //초기화
    all:unset;
}
body {
    font-family:"Noto Sans KR",sans-serif;
    color:$dark;
}


$i:0;
@for $i from 0 to 201 {
    @include tblr("m","margin",$i,"px");
    @include tblr("p","padding",$i,"px");
    .w#{$i}p { width:#{$i}% !important; }
    .h#{$i}p { height:#{$i}% !important; }
}
@for $i from 0 to 501 {
    .w#{$i} { width:#{$i}px !important; }
    .h#{$i} { height:#{$i}px !important; }
}


/* 텍스트 컬러 */
// $i:000;
@mixin colorSetter($name,$css,$val,$num){
    @if $num == 000{
        $num:"";
    }
    .#{$name}#{$num} { #{$css} : #{$val} !important; }
}
@mixin cssColor($colorV,$colorNM,$ii,$name,$css){
    $index:000;
    @for $j from 1 to length($colorV) {
        @include colorSetter(#{$name+"-"+nth($colorNM,$ii)},$css,nth($colorV,$j),$index);
        $index : $index + 100;
    }
}
.tc-white { color:$white !important; }
.tc-black { color:$black !important; }
.tc-dark  { color:$dark !important;  }
@for $ii from 1 to length($colorVar) {
    @include cssColor(nth($colorVar,$ii),$colorName,$ii,"t","color");
}
/* 배경 컬러 */
.bgc-white { background-color:$white !important; }
.bgc-black { background-color:$black !important; }
.bgc-dark  { background-color:$dark !important;  }
@for $ii from 1 to length($colorVar) {
    @include cssColor(nth($colorVar,$ii),$colorName,$ii,"bg","background");
    @include cssColor(nth($colorVar,$ii),$colorName,$ii,"bgc","background-color");
}